.app-name {
  background-color: #3d3d3d;
  color: #ffffff;
  width: 250px;
  text-align: center;
  display: flex;
}

.logo {
  width: 20%;
  height: auto;
}

.app-name-heading {
  color: var(--highlight-color);
  font-size: 1.75rem;
}
