.key-objectives {
  grid-row-start: 3;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 4;
  border-radius: 10px;
  border: 1px solid black;
}

.key-objectives::before {
  list-style-type: disc;
}
