:root {
  --highlight-color: #fba311;
  --background-color: #333333;
  --sidebar-color: #171717;
  --text-main-color: #ffffff;
  --text-unfocused-color: #797979;
  --card-color: #212121;
  --header-color: #3d3d3d;
}
