.timer-controller-wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.timer-display {
  font-size: 2rem;
}

.buttons-wrapper button {
  font-size: 1.3rem;
  font-weight: bold;
  background-color: var(--button-color);
  border-radius: 2px;
  border: none;
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  cursor: pointer;
  padding: 10px 20px 10px 20px;
}
